:root {
    --darkgrey: #272727;
    --darkbluegreen: #1981b4;
    --Lightgrey: #acb7be;
    --bluegreen: #4bbcf4;
    --headerfont:'handjet', cursive;
  }

*, *::before, *::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

.header {
    background-color: var(--Lightgrey);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: var(--darkbluegreen);
    position: fixed;
    top: 0%;
    width: 100%;
    border-bottom: 3px solid var(--Lightgrey);
}

.brand{
    font-size: 2rem;
    margin: .75rem;
    font-family: var(--headerfont);
    
}

.navbar-links ul {
margin: 0%;
padding: 0%;
display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--darkbluegreen);
    padding: 1rem;
    display: block;
}

.navbar-links li:hover, .navbar-links li:focus {
    background-color: var(--darkbluegreen);
    box-shadow: inset 0px 0px 18px var(--darkbluegreen), 0 0 15px var(--bluegreen);
    border-radius: 3px;    
}

.navbar-links li a:hover, .navbar-links li a:focus {
    color: black;
    background-color: var(--darkbluegreen);
    box-shadow: inset 0px 0px 18px var(--darkbluegreen), 0 0 15px var(--bluegreen);
    border-radius: 3px;  
}

.toggle-button{
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--darkbluegreen);
    border-radius: 10px;
}

@media (max-width: 550px) {
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        align-items: flex-start;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }
    
    .navbar-links.active {
        display: flex;
    }

    .about {
        flex-wrap: wrap;
        display: flex;
        width: 100%;
    }

    #about-main {
        flex: 1 1 75%;
    }

    #about-aside {
        flex: 1 1 75%;
    }
}



.hero {
    background-size: cover;
    width: 100%;
    margin-top: 3.75rem;
    height: 20rem;
    background-image: url(./images/WallpaperDog-5554822.jpg);
}

.main {
    display: flex;
    flex-direction: column;
    /* background-color: #acb7be; */
    /* background-image: url(./images/WallpaperDog-5554822.jpg);
    background-size: cover;
    max-height: fit-content; */
    /* background-color: #d6f4ed; */
    
    background-color: black;

}

.about{
    display: flex;
    flex-direction: row;
}

#about-main {
    height: 55rem;
    flex: 1 1 70%;
    background-color: var(--Lightgrey);
    border: 2px solid var(--darkbluegreen);
    margin: .5rem;
    border-radius: 10px;
    }
#about-aside{
    height: 55rem;
   flex: 1 1 30%;
    background-color: var(--Lightgrey);
    border: 2px solid var(--darkbluegreen);
    margin: .5rem;
    border-radius: 10px;
}

#services {

    height: 55rem;
    border: 2px solid var(--darkbluegreen);
    margin: 2.5rem;
    border-radius: 10px;
    background-color: var(--Lightgrey);
    display: flex;
    /* position: relative; */
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;

}

/* this needs to be addressed */
/* #Services-header{ */
    position: absolute;
    border: 2px solid var(--darkbluegreen);
    border-radius: 10px;
    height: 5rem;
    width: 10rem;
    text-align: center;
    align-content: center;
    background-color: black;
    color: var(--bluegreen);
    top: -1rem;
    left: -1rem;
    align-items: center;
    flex-wrap: wrap;
}

#projects {
    /* height: 55rem; */
    background-color: var(--Lightgrey);
    border: 2px solid var(--darkbluegreen);
    margin: .5rem;
    border-radius: 10px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, lfr));
    gap: 1rem; */
    padding-bottom: 2rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, lfr));
    gap: 1rem;
    /* height: 55rem; */
    background-color: var(--Lightgrey);
    border: 2px solid var(--darkbluegreen);
    margin: .5rem;
    border-radius: 10px;
    padding-bottom: 2rem;
}

.card {
    background: white;
    padding: 1rem;
    /* border: 1px solid #777; */
    border-radius: .25rem;
    border: none;
    box-shadow: 0 2px 5px 0 var(--darkbluegreen);

}

.card-header{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-family: var(--headerfont);
    font-weight: bolder;
}

.card-footer{
    margin-top: 1rem;
    font-size: .9rem;
}

.button{
    background-color: var(--bluegreen);
    border: none;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.button:hover, .button:focus{
    background: var(--darkbluegreen);
    color: white;
}

.outline-button {
    border: 1px solid var(--darkbluegreen);
    color: var(--darkbluegreen);
    background: none;
}
.button.outline-button:hover, .button.outline-button:focus {
    background: var(--bluegreen);
    color: black;
    border: none;
}

.button + .button {
    margin-left: .5rem;
}

#contact {
    height: 15rem;
    background-color: var(--Lightgrey);
    border: 2px solid var(--darkbluegreen);
    margin: .5rem;
    border-radius: 10px;
    display: flex;
} 