

:root {
    --darkgrey: #272727;
    --darkbluegreen: #1981b4;
    --Lightgrey: #acb7be;
    --bluegreen: #4bbcf4;
    --headerfont:'handjet', cursive;
  }

*, *::before, *::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

.header {
    background-color: var(--Lightgrey);
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: var(--darkbluegreen);
    position: fixed;
    top: 0%;
    width: 100%;
    border-bottom: 2px solid var(--Lightgrey);
    box-shadow: 0 2px 5px 1px var(--darkbluegreen);
}

.brand{
    font-size: 2rem;
    margin: .75rem;
    font-family: var(--headerfont);
    
}

.navbar-links ul {
margin: 0%;
padding: 0%;
display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--darkbluegreen);
    padding: 1rem;
    display: block;
    font-size: 1.5rem;
}

.navbar-links li:hover, .navbar-links li:focus {
    background-color: var(--darkbluegreen);
    box-shadow: inset 0px 0px 18px var(--darkbluegreen), 0 0 15px var(--bluegreen);
    border-radius: 3px;    
}

.navbar-links li a:hover, .navbar-links li a:focus {
    color: black;
    background-color: var(--darkbluegreen);
    box-shadow: inset 0px 0px 18px var(--darkbluegreen), 0 0 15px var(--bluegreen);
    border-radius: 3px;  
}

.toggle-button{
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--darkbluegreen);
    border-radius: 10px;
}


@media (max-width: 1200px) {
    .toggle-button{
        display: flex;
    }

    .hide {
        display: none;
    }

    .navbar-links{

        align-items: flex-start;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }
    
     .active {
        display: flex;
       
    }

    .about {
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
     
    }

    
    .card-grid{
        display: flex;
        flex-direction: column;
        flex: wrap;
        justify-content: center;
    }

    #about-main {
        flex: 1 1 75%;
        justify-content: space-evenly;
        flex-direction: column;
       
    }

    #about-main h2 {
        flex-wrap: wrap;
        align-self: center;
       
    }

    #about-aside {
        flex: 1 1 75%;
        justify-content: space-evenly;
        flex-direction: column;
    }

    #about-aside h2 {
        flex-wrap: wrap;
        align-self: center;
    }

    #services {
        flex-wrap: wrap;
        display: flex;
        flex: 1 1 70%;
        justify-content: space-evenly;
        flex-direction: column;
    }

    #services h2 {
        flex-wrap: wrap;
        align-self: center;
    }
    
   
    #services h2 {
        flex-wrap: wrap;
        align-self: center;
    }

    .card-footer{
        flex-direction: column;
    }

    #projects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    #projects h2 {
        flex-wrap: wrap;
        align-self: center;
    }
    #contact {
        display: flex;
        flex: 1 1 70%;
        flex-direction: column;
        justify-content: space-evenly;
    }


    #contact h2 {
        flex-wrap: wrap;
        align-self: center;
    }

    .contact-header {
        flex-wrap: wrap;
        align-self: center;
    }
   
}



.hero {
    background-size: cover;
    width: 100%;
    margin-top: 3.75rem;
    height: 100%;
    overflow: hidden;
    border-bottom: .25rem solid var(--Lightgrey);
    box-shadow: 0 2px 5px 1px var(--Lightgrey);

}

.hero img{
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.main {
    display: flex;
    flex-direction: column;    
    background-color: black;

}

.about{
    display: flex;
    flex-direction: row;
}

#about-main {
    min-height: 30rem;
    flex: 1 1 70%;
    background-color: var(--Lightgrey);
    border: 3px solid var(--darkbluegreen);
    margin: .5rem;
    border-radius: 10px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    box-shadow: 0 2px 5px 1px var(--darkbluegreen);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    }

#about-main h2 {
    padding-bottom: 2rem;
    font-size: 2rem;

}
    
#about-aside{
    min-height: 30rem;
   flex: 1 1 30%;
    background-color: var(--Lightgrey);
    border: 3px solid var(--darkbluegreen);
    margin: .5rem;
    border-radius: 10px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    box-shadow: 0 2px 5px 1px var(--darkbluegreen);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

#about-aside h2 {
    padding-bottom: 2rem;
    font-size: 2rem;
}

#services {
    min-height: 30rem;
    border: 3px solid var(--darkbluegreen);
    margin: .5rem;
    border-radius: 10px;
    background-color: var(--Lightgrey);
    display: flex;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    display: flex;
    box-shadow: 0 2px 5px 1px var(--darkbluegreen);
    padding: 2rem;
    flex-direction: column;

}

#services h2 {
    padding-bottom: 2rem;
    font-size: 2rem;
}


#projects {
    background-color: var(--Lightgrey);
    border: 3px solid var(--darkbluegreen);
    margin: .5rem;
    border-radius: 10px;
    padding-bottom: 2rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    box-shadow: 0 2px 5px 1px var(--darkbluegreen);
    padding: 2rem;
   
}

#projects h2 {
    padding-bottom: 2rem;
    font-size: 2rem;
}

.projects {
   
    gap: 1rem;
    background-color: var(--Lightgrey);
    border: 2px solid var(--darkbluegreen);
    margin: .5rem;
    border-radius: 10px;
    padding-bottom: 2rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    box-shadow: 0 2px 5px 1px var(--darkbluegreen);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.card-grid{
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    grid-template-rows: repeat(autofit, minmax(300px, 1fr));
    width: 85%;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 0 1 85%;
    align-self: center;
   
}

.card {
    background: white;
    padding: 0%;
    border-radius: .25rem;
    border: none;
    box-shadow: 0 2px 5px 0 var(--darkbluegreen);
    flex: 1 1 40%;

}

.card1{
    flex: 1 1 60%;
}

.card-header1{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    overflow: hidden;
}

.card-header1>img{
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    max-height: 400px;
    object-position: center;
    padding: 0%;
    border-radius: .25rem;
}

.card-header{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    overflow: hidden;
    padding: 1rem;
}



.card-body{
    flex-wrap: wrap;
    padding: 1rem;
    
}

.card-footer{
    margin-top: 1rem;
    font-size: .9rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 1rem;
}



.button{
    background-color: var(--bluegreen);
    border: none;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
    box-sizing: border-box;
  
}

.button a{
    text-decoration: none;
}

.button:hover, .button:focus{
    background: var(--darkbluegreen);
    color: white;
}

.outline-button {
    border: 1px solid var(--darkbluegreen);
    color: var(--darkbluegreen);
    background: none;
}
.button.outline-button:hover, .button.outline-button:focus {
    background: var(--bluegreen);
    color: black;
    border: none;
}

.button + .button {
    margin-left: .5rem;
}

#contact {
    height: auto;
    background-color: var(--Lightgrey);
    border: 3px solid var(--darkbluegreen);
    margin: .5rem;
    border-radius: 10px;
    display: flex;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    box-shadow: 0 2px 5px 1px var(--darkbluegreen);
    box-sizing: border-box;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-around;

} 

#contact h2 {
    padding: 2rem;
    font-size: 2rem;
   
}



.contact-header{
    flex-wrap: wrap;
    align-self: flex-start;
    flex: 1 1 70%;
}

#conact-me-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.contact-info {
    display: flex;
    flex-direction: column;
    background-color: var(--bluegreen);
    flex: 0 1 40%;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px 1px var(--darkbluegreen);
    padding-left: 1rem;
    border-radius: .25rem;
    border: none;
    font-weight: bolder;
    color: var(--darkgrey);
    padding: 2rem;
    margin: 2rem;
    align-items: start;
    justify-content: center;
    align-content: center;
    width: 300px;
}

.contact-info label:hover, .contact-info label:focus {
    background-color: var(--darkbluegreen);
    box-shadow: inset 0px 0px 18px var(--darkbluegreen), 0 0 15px var(--bluegreen);
    border-radius: 3px;    
}

.contact-info label a:hover, .contact-info label a:focus {
    color: black;
    background-color: var(--darkbluegreen);
    box-shadow: inset 0px 0px 18px var(--darkbluegreen), 0 0 15px var(--bluegreen);
    border-radius: 3px;  
}

.contact-info a {
    color: var(--darkgrey);
    text-decoration: none;
    font-size: 1rem;
   
}

.contact form {
    flex-wrap: wrap;
    /* align-self: center; */
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--bluegreen);
    margin: 2rem;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex: 0 1 300px;
    box-shadow: 0 2px 5px 1px var(--darkbluegreen);
    width: 300px;
}

.contact form label{
flex-direction: column;

}

.contact form #message {
    height: 4rem;
    text-align: start;
}

.contact form #submit{
    background-color: var(--darkbluegreen);
    box-shadow: inset 0px 0px 18px var(--darkbluegreen), 0 0 15px var(--bluegreen);
    border-radius: 3px;    
    width: 50px;
    flex-wrap: wrap;
    align-self: center;
}